form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px 0;
	input {
		padding: 10px 15px;
		width: 25vw;
		border: none;
		outline: none;
		color: #5b616b;
		font-size: 14px;
		&::placeholder {
			color: #5b616b;
			font-size: 14px;
		}
	}
	.submit {
		border: none;
		color: #fff;
		margin: 20px 0;
	}
	@media (max-width: 1024px) {
		input {
			width: auto;
		}
	}
	@media (max-width: 1024px) {
		input {
			width: auto;
			padding: 10px 5px;
			font-size: 12px;
			&::placeholder {
				font-size: 12px;
			}
		}
		.submit {
			font-size: 14px !important;
			padding: 10px !important;
			margin: 0 20px !important;
		}
	}
}
