.main {
	margin: 26px 20px;
	width: 100%;

	main {
		width: 100%;
		margin: 0 -10px;
		section {
			width: 100%;
			min-width: 40vw;
			height: 450px;
			background-color: rgba(201, 198, 198, 0.18);
			border-radius: 16px;
			padding: 15px;
			display: flex;
			overflow: hidden;
			justify-content: space-between;

			.right {
				width: 30vw;
				height: 25.3rem;
				min-height: 390px;
				background: #0d1720;
				color: #fff;
				border-radius: 16px;
				padding: 20px;
				h2 {
					font-size: 40px;
					font-weight: bold;
					letter-spacing: 1.5px;
					padding-bottom: 10px;
				}
				p {
					font-style: 24px;
				}

				.gallery_grid {
					display: grid;
					align-items: center;
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					margin: 73px 5px;
					width: 100%;
					grid-gap: 15px;
					transition: all 0.4s;
					justify-content: center;
					.images_block {
						width: 13vw;
						position: relative;
						overflow: hidden;
						border-radius: 16px;
						img {
							width: 100%;
							height: 100px;
							object-fit: cover;
							filter: brightness(40%);
							cursor: pointer;
							transition: all 0.4s;
						}
						b {
							font-size: 14px;
							position: absolute;
							left: 0;
							padding: 8px;
						}
						.rating {
							position: absolute;
							bottom: 50%;
							right: 50%;
							transform: translate(50%, 50%);
							strong {
								font-weight: bold;
								font-size: 21px;
							}
							img {
								width: 25px;
								height: 25px;
							}
						}
						&:hover {
							img {
								filter: none;
								transform: scale(1.3);
							}
							b {
								display: none;
							}
							.rating {
								display: none;
							}
						}
					}
					@media (max-width: 1124px) {
						margin: 24px 0;
						transition: all 0.3s;
					}
					@media (max-width: 860px) {
						grid-template-columns: repeat(4, 1fr);
						padding: 0 10px;
						.images_block {
							width: 19vw;
							transition: all 0.3s;
							b {
								font-size: 12px;
							}
							.rating {
								strong {
									font-size: 16px;
								}
							}
						}
					}
				}
			}

			.left {
				width: 68%;
				transition: all 0.4s;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 16px;
				}
			}

			@media (max-width: 860px) {
				flex-direction: column;
				height: 700px;
				gap: 10px;
				transition: all 0.4s;
				.left {
					width: 100%;
					transition: all 0.4s;
					height: 100%;
				}
				.right {
					width: 100%;
					height: 256px;
					min-height: 246px;
					transition: all 0.4s;
					h2 {
						font-size: 32px;
					}
				}
			}
		}
		@media (max-width: 560px) {
			margin: 0;
			section {
				height: 37.5rem;
				.right {
					min-height: 150px;
					height: 150px;
					.gallery_grid {
						display: none;
					}
				}
			}
		}

		.content_card {
			margin: 20px 0;
			h1 {
				color: #fff;
				font-size: 26px;
				letter-spacing: 1px;
				margin-bottom: 10px;
			}
			.card_block_items {
				display: flex;
				gap: 17px;
			}

			@media (max-width: 768px) {
				.card_block_items {
					flex-wrap: wrap;
				}
			}
		}
	}
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 30px;
	.user {
		display: flex;
		align-items: center;
		img {
			width: 50px;
			height: 50px;
			object-fit: cover;
			border-radius: 50%;
			cursor: pointer;
		}
	}

	@media (max-width: 768px) {
		.user {
			gap: 0 10px;
			img {
				width: 35px;
				height: 35px;
			}
			span {
				width: 35px;
				height: 35px;
				svg {
					width: 24px;
					height: 24px;
				}
			}
		}
	}
}
