.rh5v-DefaultPlayer_video {
	width: 100%;
	object-fit: none;
	border-radius: 16px;
}

.rh5v-DefaultPlayer_component {
	border-radius: 16px;
	height: 25.3rem;
}

.rh5v-DefaultPlayer_controls {
	display: none;
}

@media (max-width: 860px) {
	.rh5v-DefaultPlayer_component {
		height: 25.3rem;
	}
}
